<mat-card>
  <img src="assets/logo-black.svg"/>
  <div *ngIf="authState$ | async as authState" class="flex-row flex-row--grid">
    <div class="flex-col flex-col--grid" *ngIf="authState === AuthState.notAuthenticated || authState === AuthState.passwordChanged">
      <h1 class="bold-caption">RESET YOUR PASSWORD</h1>
    </div>
    <div class="flex-col flex-col--grid">
      <ng-container *ngIf="authState === AuthState.passwordChanged">
        <p>Your password has been reset. Please sing in with your new password.</p>
        <p>Return to <a routerLink="/onboarding">Sing in</a></p>
      </ng-container>
      <ng-container *ngIf="authState === AuthState.notAuthenticated ">
        <form [formGroup]="form" novalidate id="form">
          <mat-form-field>
            <input matInput
                   type="email"
                   formControlName="email"
                   value="{{emailActionEmail$ | async}}"
                   placeholder="Email address">
            <mat-error *ngIf="form.controls['email'].hasError('required')">
              Field is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('pattern')">
              Should be valid email.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" formControlName="password"
                   placeholder="Password (At least 8 characters)">
            <mat-error *ngIf="form.controls['password'].hasError('required')">
              Field is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.controls['password'].hasError('minlength')">
              The password should be at least 8 characters
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput
                   type="password"
                   formControlName="confirmPassword"
                   (keyup.enter)="setNewPassword()"
                   placeholder="Confirm Password (At least 8 characters)">
            <mat-error *ngIf="form.controls['confirmPassword'].hasError('required')">
              Field is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.controls['confirmPassword'].hasError('matchPassword')">
              Passwords must identical
            </mat-error>
          </mat-form-field>

          <button type="button" mat-button color="primary" (click)="setNewPassword()" [disabled]="form.invalid">RESET
            PASSWORD
          </button>
        </form>
        <p>Return to <a routerLink="/onboarding">Sing in</a></p>
      </ng-container>
      <ng-container *ngIf="authError$ | async as authError">
        <div class="text-center">
          <h4>{{authError}}</h4>
          <button type="button" mat-raised-button color="primary" (click)="goSingIn()">
            Sing in
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</mat-card>
