<div class="fr-shared-privacy-and-terms">
  <header>
    <img src="assets/logo-black.svg"/>
  </header>
  <main>
    <h1>Term of Use</h1>

    <p>Welcome to FoodRazor. FoodRazor offers an e-procurement software for F&amp;B industry.</p>
    <p>What we refer to collectively as the “FoodRazor Products” incorporates:
    </p>
    <ul>
      <li>the automated processes FoodRazor provides for extracting data from Items;</li>
      <li>all services FoodRazor provides to its Partners;</li>
      <li>any other services that FoodRazor chooses to offer in the future;</li>
      <li>the FoodRazor website; and</li>
      <li>the FoodRazor Technology.</li>
    </ul>
    <p></p>
    <p>
      FoodRazor Products are provided on and in accordance with the terms and conditions outlined below (the “Terms and
      Conditions”) by FoodRazor Pte Ltd,
      a company registered in Singapore (Business Registration number 201525535E) with its registered office at 37A Hong
      Kong Street Singapore 059676
      (“FoodRazor”, “we” or “us”).
    </p>
    <p>
      These Terms and Conditions are drafted with reference to Singapore law and FoodRazor believes that Singapore law
      provides a robust
      but business-friendly legal framework for both itself, its Users and its Partners.
    </p>
    <p>
      FoodRazor provides certain of the FoodRazor Products in two main ways:
    </p>
    <ul>
      <li>to our Partners (as defined below), including accountancy firms and bookkeepers, who in turn make the
        FoodRazor Products
        available to their Partner Users (as defined below). Where an obligation or term of these Terms and Conditions
        applies to both
        Users and Partners, we refer to them collectively as “you”; and
      </li>
      <li>to users who sign up with FoodRazor directly without an associated Partner relationship (“Users”).</li>
    </ul>
    <p></p>


    <h2>What is your Relationship with FoodRazor?</h2>
    <p>These Terms and Conditions apply to any use of the FoodRazor Products and are binding on you from the time that
      we provide you with access to the FoodRazor Products. These Terms and Conditions are the legal agreement between
      you and FoodRazor and govern your use of the FoodRazor Products.</p>
    <p>By registering to use the FoodRazor Products you acknowledge that you have read and understood these Terms and
      Conditions and have the authority to act on behalf of any person for whom you are using the FoodRazor Products. If
      you do act on behalf of any other person when using the FoodRazor Products, you are deemed to have agreed to these
      Terms and Conditions on their behalf.</p>
    <p>These Terms and Conditions will continue in effect until either you or FoodRazor terminates them in the manner
      described below.</p>


    <h2>Definitions</h2>
    <p></p>
    <h3><i>“Account”</i></h3>
    <p>Account means the User or Partner (as applicable) account registered in your name or the business on whose behalf
      you sign up and to which we provide the FoodRazor Products.</p>
    <p></p>
    <h3><i>“Confidential Information”</i></h3>
    <p>Confidential Information means any information of a confidential nature (regardless of whether or not such
      information is recorded in any physical, electronic or other media) concerning either you or us which is
      confidential, commercially sensitive and not in the public domain (whether or not marked confidential).</p>
    <p></p>
    <h3><i>“Intellectual Property Rights”</i></h3>
    <p>Intellectual Property Rights means any patent, trade mark, service mark, database right, copyright, moral right,
      right in a design, know-how and any other intellectual or industrial property rights, anywhere in the world
      whether or not registered.</p>
    <p></p>
    <h3><i>“Data” and “Items”</i></h3>
    <p>Data means any and all data or information that is uploaded to the FoodRazor Products or otherwise provided to
      FoodRazor, including receipts, bills, invoices or other purchase cost related documents (together “Items”),
      together with any data or information extracted from such Items.</p>
    <p></p>
    <h3><i>“Fees”</i></h3>
    <p>Fees means the fees that you are required to pay to access the FoodRazor Products in accordance with the Plan you
      are on from time to time. FoodRazor may vary the Fees from time to time, in accordance with these Terms and
      Conditions.</p>
    <p></p>
    <h3><i>“Partner”</i></h3>
    <p>Partner means accountancy firms, bookkeepers and other professional and business services providers who have
      signed up to a Partner Plan that allows them to make the FoodRazor Products available to their clients. References
      to a Partner in the context of a particular Partner User means the particular Partner who runs the Partner Account
      to which that Partner User’s Account is linked. For the avoidance of doubt, no partnership shall be created by
      these Terms and Conditions between a Partner and FoodRazor, and it is not the intention of the parties that these
      Terms and Conditions shall do so.</p>
    <p></p>
    <h3><i>“Partner Plan”</i></h3>
    <p>Partner Plan means a Plan which allows Partners to make available access to the FoodRazor Products to Partner
      Users, subject to the limitations and usage thresholds contained therein.</p>
    <p></p>
    <h3><i>“Partner User”</i></h3>
    <p>Partner User means a client or other individual to whom a Partner makes available the FoodRazor Products pursuant
      to the terms of their Partner Plan. Where the context permits, references to Users shall be read to include
      Partner Users.</p>
    <p></p>
    <h3><i>“Plans”</i></h3>
    <p>Plans means the payment plans for the FoodRazor Products which outline:
    </p>
    <ul>
      <li>the particular FoodRazor Products to be provided to you;</li>
      <li>the access limitations and restrictions that apply to the FoodRazor Products for which you have subscribed
        including, in respect of Partners, the numbers of permitted Partners Users; and
      </li>
      <li>the Fees payable and the frequency with which they must be paid.</li>
    </ul>
    <p></p>
    <p>As applicable, references to your “Plan” will mean the Plan to which you initially sign-up and any other Plan
      that you are migrated to, based on your usage of the FoodRazor Products, in accordance with these Terms and
      Conditions.</p>
    <p></p>
    <h3><i>“FoodRazor Technology”</i></h3>
    <p>FoodRazor Technology means the proprietary technology and software (in both object code and source code form)
      that enable FoodRazor to provide the FoodRazor Products, the Tools and any other services that FoodRazor may from
      time to time make available, together with the Intellectual Property Rights in and to inventions, designs,
      information, know-how, specifications, formulae, data, processes, methods, techniques and other technology related
      thereto.</p>
    <p></p>
    <h3><i>“Supported File Types”</i></h3>
    <p>Supported File Types means .PDF, .jpeg, .tiff, .doc, .docx, or any other file types that may be supported by the
      FoodRazor Products in the future.</p>
    <p></p>
    <h3><i>“Tools”</i></h3>
    <p>Tools means collectively, the FoodRazor website, any FoodRazor mobile and tablet applications, FoodRazor’s email
      submission technology and any add-ons or software integrations that FoodRazor may support or make available from
      time to time.</p>


    <h2>The FoodRazor Products</h2>
    FoodRazor grants you the right to use the FoodRazor Products via the Tools (the “Licence”). The type and extent of
    the rights and access you will get pursuant to the Licence will depend on the particular terms of the Plan that you
    are subscribed to.
    <p>The Licence is a non-exclusive, non-sublicensable, non-transferable, limited right to use the FoodRazor Products
      only to the extent necessary to get the benefit of the Plan to which you are subscribed, for business purposes
      only.</p>

    <h3>Restrictions on your use of the FoodRazor Products</h3>
    <p>FoodRazor reserves all rights in and to the FoodRazor Products that are not expressly granted in these Terms and
      Conditions. Nothing in these Terms and Conditions is intended to transfer any Intellectual Property Rights from
      FoodRazor to Users, Partners or Partner Users. Title to any and all Intellectual Property Rights in or to the
      FoodRazor Products and any documentation that relates to it or the FoodRazor Products shall remain the property of
      FoodRazor or the third party from whom it licenses such Intellectual Property Rights.</p>
    <p>
      You agree that you shall not:
    </p>
    <ul>
      <li>save as may be permitted under applicable law, copy, reproduce, modify, adapt, translate, prepare derivative
        works of, republish, upload, post, transmit, or distribute any FoodRazor Products or any other Intellectual
        Property Rights in or to the FoodRazor Products for any reason whatsoever;
      </li>
      <li>save as may be permitted under applicable law, reverse assemble, decompile, reverse engineer or in any way
        derive or attempt to derive from the FoodRazor Products any source code or the structure, sequence or
        organisation of such code;
      </li>
      <li>use the FoodRazor Products in any way that infringes another person’s Intellectual Property Rights;</li>
      <li>use the FoodRazor Products to upload, post, email, or otherwise transmit worms, viruses, or any other computer
        file, code, or program designed to disrupt, interrupt, limit, or disable any of the functionality of the
        FoodRazor Products, or any hardware, or telecommunications equipment;
      </li>
      <li>access (or try to access) and use any of the FoodRazor Products through any interfaces not provided by
        FoodRazor or by any automated means, including, but not limited to, scripts, robots, or web crawlers;
      </li>
      <li>use the FoodRazor Products to upload, post, transmit, store, or otherwise make available content that contains
        software viruses or any other computer code, files, or programs that could interrupt, destroy or limit the
        functionality of the computer software or hardware or telecommunications equipment of FoodRazor, its Users or
        Partners, service providers or is affiliates.
      </li>
      <li>use the FoodRazor Products to upload post, transmit, store, or otherwise make available content that is
        pornographic or otherwise explicit in nature (FoodRazor reserves the right to remove any and all such content at
        its sole discretion);
      </li>
      <li>use the FoodRazor Products in any fashion which violates, or might reasonably be judged by FoodRazor to
        violate, any local or foreign law or regulation; or
      </li>
      <li>(without limiting the rights of Partners to make available the FoodRazor Products to their Partner Users under
        the terms of their Partner Plan) sublicense, assign or otherwise transfer the FoodRazor Products, these Terms
        and Conditions or the rights under it, whether by operation of law or otherwise, otherwise than in accordance
        with these Terms and Conditions.
      </li>
    </ul>
    <p></p>
    <p> We will not be responsible, or liable, to any third party for the content or accuracy of any Data you upload to
      the FoodRazor Products.</p>


    <h3>For business use only</h3>
    <p>The FoodRazor Products are designed for use by businesses, not consumers. You warrant and represent that you are
      acquiring the right to access and use the FoodRazor Products for the purposes of a business and are not dealing
      with FoodRazor as a consumer.</p>

    <h2>Data</h2>
    <h3>Who owns the Data?</h3>
    <p>Dealing with your Data transparently is of core importance to FoodRazor. FoodRazor’s position on Data ownership
      is that, as between the parties to these Terms and Conditions, the person who is ultimately responsible to pay the
      Fees in respect of an Account has ownership of the Data which is or has been submitted to that Account (including
      ownership of any Intellectual Property Rights in that Data).</p>
    <p>In practice – as between the parties – this means that the Data ownership position will be as outlined below:
    </p>
    <p>
      <strong>If the User or Partner User (as applicable) created the Account:</strong>
    </p>
    <table class="table table--simple">
      <tbody>
      <tr>
        <td>Who owns the Data?</td>
        <td>User.</td>
      </tr>
      <tr>
        <td>Who owns the Items?</td>
        <td>User.</td>
      </tr>
      <tr>
        <td>Who can delete the Data?</td>
        <td>User and FoodRazor’s team.</td>
      </tr>
      <tr>
        <td>Who can access and use the Data?</td>
        <td>Users and, if applicable, Partners.</td>
      </tr>
      <tr>
        <td>If applicable, can Partners create a copy of Partner Users’ Data?</td>
        <td>Yes.</td>
      </tr>
      <tr>
        <td>Can FoodRazor use the Data?</td>
        <td>Yes. FoodRazor needs to be able to use and process the Data to provide the FoodRazor Products.</td>
      </tr>
      </tbody>
    </table>
    <p></p>


    <h3>How is Data used?</h3>
    <p>In order to provide the FoodRazor Products to Users and Partners, we need to use and store the Data. In addition,
      we may share or make available the Data to third parties that provide services to us; we will only allow such
      sharing of or access to Data to enable us to provide you with the FoodRazor Products.</p>
    <p>For as long as these Terms and Conditions apply, in order that we can provide the FoodRazor Products to you, you
      grant us a non-exclusive, worldwide, fully sublicensable licence to use, process, transmit, copy and store
      (<strong>“Process”</strong>) the Data. To the extent that any Data comprises personal data (as defined in the Data
      Protection Act 2012) (<strong>“User Personal Data”</strong>), FoodRazor agrees that it will only Process such User
      Personal Data in the fashion described in the Privacy Policy.</p>
    <p>Partner Users acknowledge that any Data that they submit may be accessed, edited, extracted, modified, shared by
      the relevant Partner. This is necessary to allow Partners to provide the advisory, accounting, or bookkeeping
      services that they provide to Partner Users.</p>

    <h3>Does FoodRazor sell Data?</h3>
    <p>No. FoodRazor does not sell Data to any third parties.</p>
    <p>FoodRazor acknowledges and agrees that it will only use the Data to provide the FoodRazor Products in the fashion
      described in these Terms and Conditions.
    </p>

    <h3>What is FoodRazor’s policy towards data privacy and personal information?</h3>
    <p>FoodRazor’s policies and procedures relating to personal information are described in its Privacy Policy, which
      can be found on FoodRazor.com</p>
    <p>The Privacy Policy explains how FoodRazor handles and stores personal information and protects your privacy.
      Please read this Privacy Policy carefully.</p>
    <p>The Privacy Policy forms part of these Terms and Conditions and you agree to the use of your personal information
      and Data in accordance with Privacy Policy.</p>

    <h3>Third Party applications</h3>
    <p>If you have integrated any FoodRazor Products with any third-party applications (e.g., your banking services),
      you acknowledge that FoodRazor can allow the providers of those third-party applications to access your Data.
      Allowing third parties access to your Data in this fashion is necessary to allow third‑party applications to
      integrate with the FoodRazor Products.</p>
    <p>You acknowledge that FoodRazor shall not be responsible for any corruption, unauthorised disclosure,
      modification, loss or deletion of your Data that results from any such access by third‑party application
      providers.</p>
    <p>To enable the integration of third-party applications with the FoodRazor Products, we may have to use certain
      pieces of software provided by the applicable third-party service provider. In some circumstances, FoodRazor will
      be required to pay a fee to use such software integrations. If you choose to integrate any FoodRazor Products with
      any third-party applications, we may require you to pay any charges for which FoodRazor may become liable to
      enable the required integration, these charges will be in addition to the Fees.</p>

    <h3>What happens to Data when your Account is closed?</h3>
    <p>After cancellation or termination of these Terms and Conditions your access to your Account and the FoodRazor
      Products will also terminate. This means you may no longer have access to any Data stored in your Account.</p>
    <p>Following termination, unless you instruct us to delete them, FoodRazor will aim to retain one (1) copy of each
      Item that you have submitted for a period of ten (10) years following the relevant submission date. We take this
      step to assist you in complying with your recordkeeping obligations to local tax authorities.</p>
    <p>Notwithstanding the above, we provide no guarantees that your submitted Items or any extracted Data will be
      retained by FoodRazor following cancellation or termination of these Terms and Conditions, nor that you will
      comply with any of your obligations to local tax authorities. For this reason, we suggest you maintain your own
      copies of any Items submitted and any Data extracted to the fullest extent necessary to allow you to comply with
      all applicable recordkeeping obligations.</p>

    <h3>Back up your Data</h3>
    <p>Although we take reasonable steps to ensure that your Data is kept secure (see the Security and Back Up section
      below), FoodRazor shall not be liable for any deletion of, corruption of, or failure to store any Data or other
      content used in or maintained by the FoodRazor Products. Accordingly, you should create back up copies of all Data
      that your provide to the FoodRazor Products.</p>


    <h2>Partners and Partner Users</h2>
    <p>Subject to any restrictions in their Partner Plan, Partners are able to use the FoodRazor Products to make
      available certain user-focused FoodRazor Products directly to Partner Users.</p>
    <p>
      If you are a Partner, you acknowledge and agree that:
    </p>
    <ul>
      <li>you are responsible for determining who is a Partner User and what access levels and permissions that Partner
        User has to use the FoodRazor Products;
      </li>
      <li>you are responsible for all Partner Users’ use of the FoodRazor Products; and</li>
      <li>before being able to access the FoodRazor Products, each Partner User will be required to sign up to these
        Terms and Conditions as a User, if a Partner User fails or declines to sign up to these Terms and Conditions, it
        shall not be permitted to use the FoodRazor Products.
      </li>
    </ul>
    <p></p>
    <p>The services (other than FoodRazor Products made available pursuant to these Terms and Conditions) Partners
      provide to Partner Users are not vetted, endorsed or approved by FoodRazor. Partner Users acknowledge and agree
      that FoodRazor is not responsible for the quality of such services they receive from Partners. Partners Users are
      solely responsible for vetting and reviewing the services Partners provide to them.</p>


    <h2>Provision of the FoodRazor Products</h2>
    <p>Subject to these Terms and Conditions, in particular your payment of the Fees, FoodRazor shall provide the
      FoodRazor Products to you in accordance with the terms of your current Plan. In order to make sure that you have
      the best experience using the FoodRazor Products, FoodRazor may sub‑contract or assign the provision of any and
      all of the FoodRazor Products.</p>

    <h2>Changes to the FoodRazor Products</h2>
    <p>FoodRazor may amend these Terms and Conditions (including changing the nature or scope of the FoodRazor Products)
      at any time. When we do change these Terms and Conditions, any additional or different terms shall be effective
      upon being posted on this page of FoodRazor’s website located at https://foodrazor.com/ or any successor website
      we notify to you. Your continued use and receipt of the FoodRazor Products following the posting of variations to
      these Terms and Conditions constitutes your irrevocable acceptance of those additional or different terms.</p>
    <p>If FoodRazor deems it necessary to discontinue the FoodRazor Products it provides due to the highly unlikely
      event of our closure, you will receive at least 7 days’ notice before your Account is closed.</p>


    <h2>Fees and Plans</h2>
    <h3>Fees</h3>
    <p>Users and Partners shall pay the Fees to FoodRazor in advance on a quarterly or yearly basis.</p>
    <p>The Fees vary depending on the Plan to which you are currently subscribed, which may vary from time to time in
      accordance with these Terms and Conditions.</p>
    <p>Unless otherwise expressly stated or agreed between you and FoodRazor in writing, all prices are exclusive of
      value added tax.</p>
    <h3>Fees Variation</h3>
    <p>In addition to the Plan migration described above, you agree that FoodRazor may change the Fees for each
      particular Plan. In the event that the Fees for Plans are to be changed, FoodRazor will give you 3 months advance
      notice of any such changes – we will do this by sending an email to the address registered on your Account.</p>

    <h2>Submissions</h2>
    <p>The FoodRazor Products allow Users to submit Items to FoodRazor in a variety of fashions via the Tools.</p>
    <p>Except in respect of Partners and their Partner Users, you may not send in Items for another User. If FoodRazor
      determines that you have sent in Items for another User, they will not be scanned or uploaded, and may not be
      returned unless the original User gives FoodRazor permission to do so.</p>
    <p>Usage of an Account by more than one person without consent of the original User may result in termination of
      that Account without any refund of the Fees paid.</p>
    <p>If you continue to submit Items to FoodRazor after terminating your Plan, they will not be scanned or uploaded
      into your Account, and may not, in the case of physical submission, be returned to you.</p>
    <p>You acknowledge that FoodRazor makes no guarantee whatsoever regarding scanning time or processing time.
      FoodRazor accepts no liability for loss, damage, or inconvenience resulting from delays in shipping or processing,
      or loss of or damage to Items during shipping or processing.</p>
    <p>You acknowledge that FoodRazor cannot guarantee the accurate extraction of Data from submitted Items which is not
      in these formats.</p>
    <p>Where you submit any Item to FoodRazor using any electronic submission Tools, that Item must be in a Supported
      File Type. You acknowledge that FoodRazor cannot process any Items which are not submitted in a Supported File
      Type.</p>
    <p>If you send in illegible Items they may not be processed correctly into your Account. You recognise that all
      Items may not be entered correctly into your Account, and that FoodRazor does not guarantee proper tagging or data
      entry on submitted Items.</p>
    <p>FoodRazor does not guarantee the accuracy of automatically processed information.</p>
    <p>If you submit Items with notes or other information on the back, those back sides may not be scanned or uploaded
      into your Account.</p>

    <h2>Security and Back Up</h2>
    <h3>Security</h3>
    <p>As long as you keep your password safe, FoodRazor protects your Data so it can only be viewed and accessed by you
      and those who have been authorised to access it (including if applicable, Partners and Partner Users). FoodRazor
      uses 256-bit secure socket layer encryption.</p>
    <p>You agree to be responsible for keeping your passwords associated with your Account secret and secure. FoodRazor
      may be able to help you retrieve lost passwords, but cannot guarantee to do so, and will not be held responsible
      or liable if it cannot locate or reset a lost password.</p>
    <p>For your security, do not submit any Items to FoodRazor that have full credit card information printed on them.
      If any such Items are received, FoodRazor reserves the right, but shall not have the obligation, to not scan and
      upload such Items to your Account. It is your responsibility to ensure that you review the content and form of any
      Items you upload to the FoodRazor Products or otherwise provide to FoodRazor.</p>
    <h3>Back Up</h3>
    <p>To ensure that your Data remains accessible and secure throughout your use of the FoodRazor Products in
      accordance with these Terms and Conditions, FoodRazor periodically creates backup copies of your Data in
      accordance with standard industry practices.</p>

    <h2>Content in the Services</h2>
    <p>FoodRazor does not and cannot control what information is submitted to it via the Tools. We do not expect our
      Partners or Users to upload any objectionable, offensive or indecent content via the Tools. You acknowledge and
      agree that you are solely responsible any information that is submitted to the FoodRazor and are responsible for
      any consequences of such actions.</p>
    <p>You also understand that when using the FoodRazor Products, you may come across material that you find
      objectionable, offensive or indecent and that you are using the FoodRazor Products at your own risk.</p>

    <h2>SLA</h2>
    <h3>Subscription Services Availability</h3>
    <p>During the Term of the Agreement, the Subscription Services will be operational and available to Subscriber at
      least 99.5% of the time in minutes in any calendar month (referred to as “Availability”).</p>
    <p>If FoodRazor fails to meet its Availability service level due to circumstances not listed within one of the
      exception under Excused Downtime below, and if Subscriber meets its obligations under the Agreement, Subscriber
      shall be eligible to receive service level credits (“SLCs”) as set forth below.</p>

    <h3>Service Level Credits</h3>
    <p>FoodRazor shall apply the following Service Level Credits:</p>

    <table class="table table--simple">
      <thead>
      <tr>
        <td>Monthly Uptime Percentage</td>
        <td>Days of Service added to the end of the Service term, <br> at no charge to Customer</td>
      </tr>
      </thead>
      <tbody align="center">
      <tr>
        <td>&lt; 99.5% - &gt;= 99.0%</td>
        <td>3</td>
      </tr>
      <tr>
        <td>&lt; 99.0% - &gt;= 95.0%</td>
        <td>
          7
        </td>
      </tr>
      <tr>
        <td>&lt; 95.0%</td>
        <td>
          15
        </td>
      </tr>
      </tbody>
    </table>
    <p>Availability is calculated as follows:</p>
    <img src="assets/avail.jpg">


    <h3>Credit requests and Payment</h3>
    <p>To request a credit, send email to contact@foodrazor.com within 10 days of the end of the calendar month in which
      the failure occurred. You must include either your FoodRazor username or registered email address, and dates and
      times of unavailability. If we conﬁrm that you are owed Service Credits, we will issue a credit to your account
      within ten (10) business days. Credits may only be used against future billing charges. The Service Credits shall
      be your sole and exclusive remedy for any failure of the FoodRazor service to operate in accordance with the
      SLAs.</p>
    <h3>Excused Downtime</h3>
    <p>“Excused Downtime” means:</p>
    <ul>
      <li>Scheduled outages or Force Majeure events;</li>
      <li>Downtime caused by a non-standard environment, Customer machine access, Customer’s violation of the Agreement
        including the Acceptable Use Policy, Customer authored code or changes to the Site or Services by parties other
        than FoodRazor, or use that exceeds Customer’s plan capacity (e.g. visitors that exceed the limit for the
        Customer’s plan);
      </li>
      <li>emergency maintenance (e.g. in order to apply a patch to address a security vulnerability); and</li>
      <li>maintenance that is performed during the below schedule.</li>
      <li>Service Maintenance Times</li>
      <li>Unavailability of the Amazon EC2</li>
      <li>Hackers or virus attacks or force majeure events</li>
      <li>Your acts or omissions</li>
    </ul>

    <h2>Indemnity</h2>
    <p>You indemnify FoodRazor from and against all claims, costs, damage and loss arising from your breach of these
      Terms and Conditions. This indemnity covers any costs relating to the recovery of any Fees that you have failed to
      pay in accordance with these Terms and Conditions.</p>

    <h2>Termination</h2>
    <p>
      You shall be deemed to have terminated these Terms and Conditions if:
    </p>
    <ul>
      <li>you cancel your subscription to the FoodRazor Products; or</li>
      <li>you fail to pay any Fees due and payable for a renewal of the FoodRazor Products.</li>
    </ul>
    <p></p>
    <p>These Terms and Conditions will continue for the period covered by the Fees paid for your Plan (a “Billing
      Period”). At the end of each Billing Period these Terms and Conditions will automatically renew for another period
      (if you pay the relevant Fees when due and payable) unless either party terminates these Terms and Conditions
      before the end of the relevant Billing Period.</p>
    <p>No refund will be given of any Fees you have already paid in advance in respect of a Billing Period upon
      termination of these Terms and Conditions prior to the expiry of that Billing Period. If these Terms and
      Conditions are terminated for any reason and any Fees that were payable prior to such termination are unpaid, you
      will be liable to pay all outstanding Fees to FoodRazor.</p>
    <p>
      Without prejudice to its other rights and remedies, FoodRazor may, on notice to you, terminate these Terms and
      Conditions with immediate effect if you:
    </p>
    <ul>
      <li>commit a material breach of these Terms and Conditions and, in the case of any breach which can be remedied,
        fail to remedy that breach within fourteen days of a notice from us requiring such remedy; or
      </li>
      <li>You or your business become insolvent or your business goes into liquidation or has a receiver or manager
        appointed of any of its assets or if you become bankrupt, or make any arrangement with your creditors, or become
        subject to any similar insolvency event in any jurisdiction.
      </li>
    </ul>
    <p></p>
    <p>Failure by you to pay any Fees due to us by the date on which such payment is due shall constitute a material
      breach of these Terms and Conditions.</p>
    <p>Without prejudice to its other rights and remedies, FoodRazor may terminate these Terms and Conditions and close
      your Account at the end of any Billing Period.</p>

    <h2>Warranty disclaimer and Limitation of Liability</h2>
    <p>You acknowledge that the FoodRazor Products are provided on an “as is” and “as available” basis. FoodRazor makes
      no representations, warranties or conditions of any kind, express or implied, with respect to the FoodRazor
      Products, including, without limitation, any warranty that FoodRazor Products will:
    </p>
    <ul>
      <li>be timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or
        data;
      </li>
      <li>meet your requirements or expectations;</li>
      <li>be free from errors or that defects will be corrected; or</li>
      <li>be free of viruses or other harmful components.</li>
    </ul>
    <p></p>
    <p>
      To the fullest extent permitted by applicable law, FoodRazor expressly disclaims all implied warranties or
      conditions including, without limitation, warranties and conditions of satisfactory quality, fitness for purpose
      and non-infringement.</p>
    <p>
      You acknowledge and agree that, FoodRazor shall not be liable for any losses or claims whatsoever relating to:
    </p>
    <ul>
      <li>any permanent or temporary restrictions or cessations of the Service;</li>
      <li>any deletion of, corruption of, or failure to store any Data or other content used in or maintained by the
        FoodRazor Products;
      </li>
      <li>your failure to provide correct, accurate, and up-to-date account information; or</li>
      <li>your failure to keep your password and account information secure.</li>
    </ul>
    <p></p>
    <p>
      Nothing in these Terms and Conditions limits or excludes FoodRazor’s liability for:
    </p>
    <ul>
      <li>death or personal injury caused by its negligence;</li>
      <li>fraud or fraudulent misrepresentation; or</li>
      <li>any other act, omission, or liability which may not be limited or excluded by applicable law.</li>
    </ul>
    <p></p>
    <p>
      Subject to the above, FoodRazor’s total liability to you, whether in contract, tort (including negligence), for
      breach of statutory duty, or otherwise, arising under or in connection with these Terms and Conditions shall be
      limited, in respect of all claims (connected or unconnected) to the lower of:
    </p>
    <ul>
      <li>total Fees paid or payable by you in the previous twelve month period</li>
    </ul>
    <p></p>
    <p>
      You acknowledge that we are not your advisor nor your accountant. The FoodRazor Products do not constitute
      financial advice. You remain wholly responsible for your compliance with all filings and reporting requirements in
      relation to taxation and all other similar requirements or duties imposed on you under applicable law.
    </p>
    <p>
      We assume no responsibility for the content of websites linked on our site. Such links should not be interpreted
      as endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from
      your use of them.</p>

    <h2>Disputes</h2>
    <p>In the event that any dispute arises between the parties, you and FoodRazor each agree to enter into good faith
      discussions to resolve that dispute within a period of 14 days from one party's notification to the other that
      such dispute has arisen (the "Dispute Resolution Period"). In the event that no resolution to the dispute can be
      mutually agreed by the parties (each acting reasonably) during the Dispute Resolution Period, both you and
      FoodRazor will have the right, but not the obligation, to terminate these Terms and Conditions with immediate
      effect on written notice to the other, provided always that such notice must be served within a further 7-day
      period starting on the day immediately following the final day of the Dispute Resolution Period.</p>
    <p>Nothing in this section shall prejudice either party's other rights to terminate outlined elsewhere in these
      Terms and Conditions – including the right to terminate these Terms and Conditions to prevent their automatic
      renewal on expiry of a Billing Period. In addition, nothing in this section will at any time while a dispute is
      being discussed by you and FoodRazor restrict either party’s freedom to obtain emergency injunctive relief,
      commence legal proceedings to preserve any legal right or remedy or to protect confidentiality or any intellectual
      property or trade secret right or to prevent or limit breaches of law governing its business.</p>

    <h2>General</h2>
    <h3>Confidentiality</h3>
    <p>Each party undertakes to the other that it shall not at any time disclose to any person any Confidential
      Information except as is permitted by these Terms and Conditions, including the remainder of this this
      Confidentiality section.</p>
    <p>
      Each party may disclose the other's Confidential Information:
    </p>
    <ul>
      <li>to its employees, officers, representatives, service providers, subcontractors or advisers who need to know
        such information for the purposes of carrying out the party's obligations under these Terms and Conditions,
        provided always that such recipients shall be made aware of the confidential nature of the Confidential
        Information they receive and shall agree to reasonable confidentiality undertakings to protect such Confidential
        Information;
      </li>
      <li>as may be required by law, a court of competent jurisdiction or any governmental or regulatory authority; or
      </li>
      <li>as described in the Privacy Policy.</li>
    </ul>
    <p></p>
    <p>Neither party shall use the other party’s Confidential Information for any purpose other than to perform its
      obligations under these Terms and Conditions.</p>
    <h3>Force Majeure</h3>
    <p>FoodRazor shall not have any liability for any failure or delay resulting from any governmental action, fire,
      flood, insurrection, earthquake, power failure, riot, act of terrorism, war, explosion, embargo, strike, labour or
      material shortage, transportation interruption of any kind, work slowdown or any other event or condition beyond
      its control.</p>
    <h3>Applicable Law and Jurisdiction</h3>
    <p>These Terms and Conditions and all matters arising from them (including, without limitation, any dispute relating
      to the existence, validity or termination of these Terms and Conditions or any contractual or non-contractual
      obligation) shall be governed by, and construed in accordance with Singapore law. In relation to any legal action
      or proceedings to enforce these Terms and Conditions or arising out of or in connection with these Terms and
      Conditions (including, without limitation, any dispute relating to the existence, validity or termination of these
      Terms and Conditions or any contractual or non-contractual obligation) (“Proceedings”) each of the Parties
      irrevocably submits to the exclusive jurisdiction of the courts of Singapore and waives any objection to
      Proceedings in such courts on the grounds of venue or on the grounds that the Proceedings have been brought in an
      inappropriate forum provided that a judgment or order of any court may be enforced in any court of competent
      jurisdiction.</p>
    <h3>Entire Agreement</h3>
    <p>These Terms and Conditions, together with any webpages, documents or policies incorporated by reference hereinto,
      constitute the entire agreement and understanding between you and FoodRazor relating to the matters contemplated
      by these Terms and Conditions and supersedes all previous agreements (if any and whether in writing or not)
      between you and us in relation to such matters. The parties acknowledge and agree that, except as otherwise
      expressly provided for in these Terms and Conditions, they are not entering into these Terms and Conditions on the
      basis of, and are not relying on and have not relied on, any statement, representation, warranty or other
      provision (in any case whether oral, written, expressed or implied) made, given, or agreed to by any person
      (whether a party to these Terms and Conditions or not) in relation to the subject matter of these Terms and
      Conditions, provided that nothing in these Terms and Conditions shall exclude any party from liability for fraud
      or fraudulent misrepresentation.</p>
    <h3>Assignment</h3>
    <p>You shall not assign any rights or obligations under these Terms and Conditions without FoodRazor’s prior written
      consent (such consent not to be unreasonably withheld) and any unauthorised assignment shall be null and void.</p>
    <h3>Notices</h3>
    <p>Notices to FoodRazor must be sent to contact@foodrazor.com or to any other email address notified to you by us.
      We will send notices to you to the then current email address on your Account.</p>
    <h3>Waiver</h3>
    <p>Except as otherwise provided in these Terms and Conditions, a waiver of any right or remedy under these Terms and
      Conditions or by law is only effective if given in writing and shall not be deemed a waiver of any subsequent
      breach or default. A failure or delay by a party to exercise any right or remedy provided under these Terms and
      Conditions or by law shall not constitute a waiver of that or any other right or remedy, nor shall it prevent or
      restrict any further exercise of that or any other right or remedy. No single or partial exercise of any right or
      remedy provided under these Terms and Conditions or by law shall prevent or restrict the further exercise of that
      or any other right or remedy.</p>
    <h3>Severability</h3>
    <p>If any provision or part-provision of these Terms and Conditions shall be held to be invalid, illegal, void or
      unenforceable, it shall be deemed modified to the minimum extent necessary to make it valid, legal and
      enforceable. If such modification is not possible, the relevant provision or part-provision shall be deemed
      deleted. Any modification to or deletion of a provision or part-provision under this clause shall not affect the
      validity and enforceability of the rest of these Terms and Conditions.</p>
    <h3>Independent Contractors</h3>
    <p>The parties agree that they are each independent contractors and nothing in these Terms and Conditions will be
      deemed to establish a joint venture, partnership, agency or employment relationship between the parties. Neither
      party shall have any express or implied right or authority to assume or create any obligations on behalf of or in
      the name of the other party or to bind the other party to any other contract, agreement or undertaking with any
      third party.</p>
    <h3>Third party rights</h3>
    <p>Other than Partners, in respect of Partner Users, a person who is not a party to these Terms and Conditions has
      no right to benefit under or to enforce any term of these Terms and Conditions.</p>

    <h2>Trademark notice</h2>
    <p>"FoodRazor Pte Ltd" and the FoodRazor logo are trademarks of FoodRazor.</p>

    <h2>Contact us.</h2>
    <p>
      To contact us, please email: <a href="mailto:contact@foodrazor.com">contact@foodrazor.com</a>
      <br>Thank you for using FoodRazor.
    </p>
    <br>
    <a routerLink="/public/privacy">Read about our privacy policy</a>
  </main>
  <footer>©2015-2018 FoodRazor Pte Ltd. Made in Singapore</footer>
</div>
