<form [formGroup]="form"
      novalidate>
  <div class="flex-row flex-row--grid">
    <div class="flex-col flex-col--grid" style="flex: 0 1 280px">
      <mat-form-field>
        <input matInput
               placeholder="Search by name"
               formControlName="name"/>
        <button type="button" mat-button matSuffix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="button-wrapper">
    <button mat-button
            type="button"
            *ngIf="(canBeModified$ | async)"
            routerLink="/suppliers/create"
            class="button--add">
      <mat-icon>add</mat-icon>
      <span>Add Supplier</span>
    </button>
  </div>
</form>
