<mat-card>
  <img src="assets/logo-black.svg"/>
  <div *ngIf="authState$ | async as authState" class="flex-row flex-row--grid">
    <div class="flex-col flex-col--grid">
      <h1 class="bold-caption">Reset Password</h1>
      <p *ngIf="authState === (AuthState.notAuthenticated || AuthState.authenticationError)">Enter your email address, you will receive a link to reset your password </p>
    </div>
    <div class="flex-col flex-col--grid">
      <p *ngIf="authState === AuthState.emailSent">An email with password reset instructions has been sent to your email address</p>
      <ng-container *ngIf="authState === (AuthState.notAuthenticated || AuthState.authenticationError)">
        <form [formGroup]="form" novalidate id="form">
          <mat-form-field>
            <input matInput
                   type="email"
                   formControlName="email"
                   (keyup.enter)="resetPassword()"
                   placeholder="Email address">
            <mat-error *ngIf="form.controls['email'].hasError('required')">
              Field is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('pattern')">
              Should be valid email.
            </mat-error>
          </mat-form-field>

          <button type="button" mat-button color="primary" (click)="resetPassword()" [disabled]="form.invalid">SEND
          </button>
          <p>
            <mat-error *ngIf="authError$ | async as authError">
              {{authError}}
            </mat-error>
          </p>
        </form>
      </ng-container>
      <p>Return to <a routerLink="/onboarding">Sing in</a></p>
    </div>
  </div>
</mat-card>
